.App {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  text-align: center;
}

.logo {
  width: 80%;
  max-width: 1200px;
  margin-top: 50px
}

.video {
  /* margin-top: 50px; */
  width: 80%;
}