.Work {
  background-color: #000000;
  height: 100vh;
  text-align: center;
  padding-bottom: 50px
}

.text {
  color: #FFFFFF
}

.youtube {
  margin-bottom: 20px;
  max-width: 100vw;
}

.small-logo {
  margin-bottom: 20px;
}

.email {
  color: #FFFF;
  text-decoration: none;
  /* padding-bottom: 100px; */
}